*.iml
.gradle
/local.properties
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea
.idea/vcs.xml
.idea/workspace.xml
/.gradle
/.idea/libraries
/.DS_Store
/.externalNativeBuild
/.idea/modules.xml
/.idea
/.idea/vcs.xml